.task-mission {
    display: inline-block;
    font-family: 'Microsoft JhengHei';
    font-size: 18px;
    width: 100%;
    color: #ffffff;

    .mission-done {
        float: left;
        text-align: left;
    }

    .content {
        font-size: 36px;
    }
    .mission-time {
        float: right;
        text-align: right;
    }
}

.clock-area {
    display: flex;
    align-items: center;
    justify-content: center;
}
