.app {
    height: 100vh;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

.nav-logoname {
    position: absolute;
    left: 1rem;
    bottom: 1rem;

    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-orientation: mixed;
}

.todo {
    height: 100vh;
    .todo-process {
        height: 70%;

        .now-node {
            height: 30px;
            width: 30px;
            margin-left: -10px;
            border-radius: 50%;
            display: inline-block;
            transition: all 1000ms ease;
            border: #ff6d6d 2px solid;
            background-color: #ffeded;
            text-align: center;
            line-height: 30px;
        }
        .now-todo {
            color: #000000;
            font-size: 30px;
            line-height: 29px;
        }
        .node {
            height: 10px;
            width: 10px;
            border-radius: 50%;
            display: inline-block;
            transition: all 1000ms ease;
            background-color: #ff6d6d;
        }
        .divider {
            height: 40px;
            width: 2px;
            margin-left: 4px;
            transition: all 800ms ease;
            background-color: #ff6d6d;
        }

        li {
            list-style: none;
            line-height: 1px;
        }
        li p {
            display: inline-block;
            margin-bottom: 0;
            margin-top: 0;
            margin-left: 25px;
        }
    }
    .todo-create {
        height: 30%;
        .textarea-block {
            padding: 5px;
            border-radius: 5px;
            height: 100%;
            background-color: #f9f9f9;
        }
        textarea {
            resize: none;
            width: 100%;
            height: 100%;
            background-color: #f9f9f9;
            border: none;
            outline: none;
        }
    }
}
