.app {
    height: 100vh;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

.nav-logoname {
    position: absolute;
    left: 1rem;
    bottom: 1rem;

    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-orientation: mixed;
}

.todo {
    height: 100vh;

    .todo-process {
        height: 70%;
    }
    .todo-create {
        height: 30%;
    }
}
